*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.talk{
    background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  transition-duration: 0.5s;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  display: block;
}
.talk:hover{
    background-color:rgb(199, 105, 43);
    
    color: white;
}



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(155, 66, 66), rgb(38, 199, 228));
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h3{
    display: block;
    padding-top: 2em;
    font-family: 'El Messiri';
    font-size: 48px;
}